<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Advocacia</title>
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Advocacia</a>
        <button class="navbar-toggler" type="button" advogadogadv="collapse" advogadoradv="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/advogados">Advogados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/novoAdvogado">Novo Advogado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/processos">Processos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/novoProcesso">Novo Processo</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <form action="/advogado/alterar/<%= advogado.adv_codigo%>" method="post">
            <h5 style="border-bottom: 1px #c5c5c5 solid;">Editar Advogado</h5>
            <div class="form-group row">
                <div class="col-md-1">
                    <label for="prod">Codigo</label>
                    <input type="text" maxlength="20" value="<%= advogado.adv_codigo%>" name="adv_codigo" class="form-control" id="cod"
                        readonly>
                </div>

                <div class="col-md-2">
                    <label for="prod">Nome</label>
                    <input type="text" maxlength="20" value="<%= advogado.adv_nome%>" name="adv_nome" class="form-control" id="nome" placeholder="Nome">
                </div>

                <div class="col-md-2">
                    <label for="prod">Apelido</label>
                    <input type="text" maxlength="10" value="<%= advogado.adv_apelido%>" name="adv_apelido" class="form-control" id="apelido" placeholder="Apelido">
                </div>

                <div class="col-md-1">
                    <label for="status">Sexo</label>
                    <select class="form-control custom-select" name="adv_sexo" id="sexo" placeholder="Sexo" value="<%= advogado.adv_sexo%>">
                        <option>M</option>
                        <option>F</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label for="faculdade">Faculdade</label>
                    <input type="text" maxlength="10" value="<%= advogado.adv_faculdade%>" class="form-control" id="faculdade" name="adv_faculdade"
                        placeholder="Faculdade">
                </div>

                <div class="col-md-2">
                    <label for="dtformatura">Data Formatura</label>
                    <input type="date" class="form-control" value="<%= advogado.adv_dtformatura%>" id="dtformatura" name="adv_dtformatura" placeholder="Data Formatura">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                    <a class="btn btn-secondary btn-block" href="/advogados">Voltar</a>
                </div>
            </div>
        </form>
    </div>
    <script src="/js/bootstrap.js"></script>
</body>

</html>