<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Advocacia</title>
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Advocacia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/advogados">Advogados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/novoAdvogado">Novo Advogado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/processos">Processos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/novoProcesso">Novo Processo</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nome Advogado</th>
                    <th>Nome Reu</th>
                    <th>Descricao</th>
                    <th>Vara Tribunal</th>
                    <th>Data Processo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for (pro of processos){%>
                    <tr>
                        <td><%= pro.pro_codigo%> </td>
                        <td><%= pro.adv_nome%> </td>
                        <td><%= pro.pro_nomereu%> </td>
                        <td><%= pro.pro_descricao%> </td>
                        <td><%= pro.pro_varatribunal%> </td>
                        <td><%= pro.pro_dataprocesso%> </td>
                        <td><a class="btn btn-warning" href=<%="/processo/" + pro.pro_codigo%>>Alterar</a> </td>
                        <td><a class="btn btn-danger" href=<%="/processo/excluir/" + pro.pro_codigo%>>Deletar</a> </td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>

    <script src="/js/bootstrap.js"></script>
</body>

</html>